.outerContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.dailogueContainer {
    padding: 30px 20px;
    border: 1px grey solid;
    height: 420px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.title {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}
.inputContainerNotifi {
    display: flex;
    flex-direction: column;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.textfield {
    padding: 5px;
    width: 237px;
}
.textarea {
    display: block;
    max-width: 243px;
    min-width: 243px;
    max-height: 150px;
    min-height: 100px;
}
.sendButtonContainer {
    display: flex;
    justify-content: center;
}
.sendButton {
    width: 100%;
    padding: 10px 0;
    color: #fff;
    background-color: #00b875;
}
.cancelButton {
    border: 1px red solid;
    background-color: #fff;
    color: red;
    margin: 20px 0 0 0;
}
