.tagsOuterContainer {
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
}
.tagsContainer {
   margin: 10px;
   padding: 10px 20px;
   border: 1px solid grey;
   border-radius: 50px;
   display: flex;
   align-items: center;
}
.tagsContainer p{
   color: #000;
   font-weight: bold;
   margin: 0;
   padding: 0;
}
.deleteTabButton {
   background-color: #fff;
   border: none;
   font-size: 0.8em;
   width: 2rem;
   color: red;
   margin: 0 10px;
}
.deleteTabButton:hover{
   cursor: pointer;
}
.buttonContainer {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 50px 0;
}
.savebutton {
   width: 150px;
   height: 3rem;
   background-color: #00b875;
   color: #fff;
   border: none;
   cursor: pointer;
}

@media screen and (max-width: 500px) {
   .tagsContainer {
      margin: 5px;
      padding: 0 5px;
   }
}
