.nav-container .serachContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

.nav-container .searchBar {
    width: 80%;
    height: 2rem;
}

.nav-container .searchButton {
    background-color: #00b875;
    color: #fff;
    margin: 0 10px;
}

.nav-container .userOrderDetails {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-container .notificationButton {
    color: #fff;
    background-color: #00b875;
    padding: 10px 20px;
    margin: 0 20px;
}

.nav-container .main .MuiAppBar-colorPrimary {
    background-color: #00b875;
}

.nav-container .main > header.MuiAppBar-root {
    margin: 2rem auto;
    width: 50%;
    display: block;
}

.nav-container header .MuiTabs-scroller.MuiTabs-fixed {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    .nav-container .main >  header.MuiAppBar-root {
        width: 70%;
    }
}

@media screen and (max-width: 650px) {
    .nav-container .main >  header.MuiAppBar-root {
        width: 100%;
    }
}