.UserModal {
    position: absolute;
    z-index: 500;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid #ccc; */
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.253);
    padding: 1rem;
    border-radius: 8px;
    height: 75%;
    width: 70%;
    top: 15%;
    left: 15%;
    box-sizing: border-box;
    transition: all 0.4s ease-out;
    /* overflow: auto; */
}

.UserModal > span > svg {
    position: absolute;
    right: -1.4rem;
    top: -1.4rem;
   font-size: 2rem;
   color: rgba(0, 0, 0, 0.767);
}

.Backdrop{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.5;
}

@media screen and (max-width: 1200px) {
    .UserModal {
        height: 80%;
        top: 10%;
        width: 70%;
        left: 15%;
    }
}
@media screen and (max-width: 540px) {
    .UserModal {
        height: 80%;
        top: 10%;
        width: 85%;
        left: 7.5%;
    }
}
@media screen and (max-width: 360px) {
    .UserModal {
        width: 90%;
        left: 5%;
    }

    @media screen and (max-width: 360px) {
        .OrderModal {
            left: 5%;
            width: 90%;
        }
    
        
    .UserModal > span > svg {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        top: -2rem;
       font-size: 2.5rem;
    }
    
    }
}
