.InventoryItem {
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 0.5rem;
    display: flex;
    cursor: pointer;
    align-items: center;
    position: relative;
}
.InventoryItem img {
    border: 1px solid gray;
    border-radius: 5px;
    height: 6rem;
    width: 6rem;
    margin-right: 1rem;
}

.InventoryItem p {
    margin: 0;
}

.Inv_Info {
    width: 100%;
}
.Inv_Mid {
    width: 50%;
}

.Inv_Mid p,  .Inv_Right .Expiry{
    margin-top: 0.2rem;
    color: grey;
    font-size: 0.9rem;
}

.Inv_Mid .Item_Name {
    font-weight: bold;
    color: rgb(39, 39, 39);
    font-size: 1.1rem;
    margin:  0;
    padding: 0;
}


.Inv_Mid p span, .Inv_Right .Expiry span {
    color: rgb(46, 46, 46);
    font-weight: bold;
}

.Inv_Right {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5rem;
    text-align: end;
    height: 100%;
    width: 50%;
}
.Inv_Right .Inv_Pricing {
    font-weight: bold;
    color: #00b875;
}

.Inv_Right .Inv_Pricing span {
    text-decoration: line-through;
    color: gray;
    font-size: 0.8rem;
    margin-right: 0.5rem;
    font-weight: 400;
}

.Inv_Right .Expiry {
    position: absolute;
    right: 0.5rem;
    width: 60%;
    bottom: 1.5rem;
}

@media screen and (max-width: 620px) {
    .Inv_Right {
        position: unset;
        text-align: unset;
        width: 100%;
        padding: unset;
    }
    .Inv_Mid {
        width: 100%;
    }
    
    .Inv_Right .Expiry {
        position: unset;
        width: unset;
    }
    
    .InventoryItem img {
        height: 7rem;
        width: 7rem;
        margin-right: 1rem;
    }
}



@media screen and (max-width: 540px) {
    .InventoryItem {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .Inv_Right {
        position: absolute;
        width: 48%;
        text-align: end;
        right: 0.5rem;
        top: 0.5rem;
    }
}


@media screen and (max-width: 405px) {
    .InventoryItem {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .Inv_Right {
        position: absolute;
        width: 48%;
        text-align: end;
        right: 0.5rem;
        top: 0.5rem;
    }
}


