
.nav-container .userDetailContainer {
    border: 1px solid grey;
    margin: 2rem 0;

    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-container .userDetailContainer div {
    width: 100%;
}